<?xml version="1.0" ?>
<model>
    <name>simple_box</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>Gautham Sam</name>
        <email>gautham.sam@neuralfoundry.co.uk</email>
    </author>
    <description>Test model of a long box</description>
</model>
