<?xml version="1.0"?>
<robot name="realsense2_camera" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:arg name="use_nominal_extrinsics" default="false" />
  <xacro:arg name="add_plug" default="true" />
  <xacro:arg name="use_mesh" default="true" />
  <xacro:include filename="$(find realsense2_description)/urdf/_d415.urdf.xacro" />

  <!-- Camera Link -->
  <link name="realsense_camera_link"></link>

  <xacro:sensor_d415 parent="realsense_camera_link" use_nominal_extrinsics="$(arg use_nominal_extrinsics)" add_plug="$(arg add_plug)" use_mesh="$(arg use_mesh)">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:sensor_d415>

  <!-- Fixed joint to attach the camera to the base -->
  <joint name="realsense_camera_joint" type="fixed">
      <parent link="camera_base_link" />
      <child link="realsense_camera_link" />
      <origin xyz="0 0 0.01"/>
  </joint>

  <link name="realsense_camera_optical_link"></link>

  <joint name="realsense_camera_optical_joint" type="fixed">
      <parent link="realsense_camera_link" />
      <child link="realsense_camera_optical_link" />
      <origin xyz="0 0 0.01" rpy="${-pi/2} 0 ${-pi/2}"/>
  </joint>

    <!-- Gazebo plugin to simulate the camera -->
    <!-- https://github.com/gazebosim/gz-sim/blob/76305dfe9065db3b17dfa562c2ee8e6bafa7b1a3/examples/worlds/sensors_demo.sdf#L285 -->
    <gazebo>
        <plugin
            filename="ignition-gazebo-sensors-system"
            name="gz::sim::systems::Sensors">
            <render_engine>
                ogre2
            </render_engine>
        </plugin>
    </gazebo>
    <gazebo reference="realsense_camera_link">
        <!-- Adding RGB Camera Sensor -->
        <sensor type="camera" name="camera">
            <topic>camera</topic>
            <update_rate>10.0</update_rate>
            <visualize>true</visualize>
            <always_on>true</always_on>
            <horizontal_fov>1.05</horizontal_fov>
            <image>
                <width>320</width>
                <height>240</height>
            </image>
            <clip>
                <near>0.02</near>
                <far>10.0</far>
            </clip>
        </sensor>
        <!-- Adding Depth Camera Sensor -->
        <sensor type="depth_camera" name="realsense_camera">
            <topic>depth_camera</topic>
            <update_rate>10.0</update_rate>
            <always_on>true</always_on>
            <horizontal_fov>1.05</horizontal_fov>
            <image>
                <width>320</width>
                <height>240</height>
                <format>R_FLOAT32</format>
            </image>
            <clip>
                <near>0.02</near>
                <far>10.0</far>
            </clip>
        </sensor>
    </gazebo>

</robot>
